<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="book/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>List of Book</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"-->
    <!--integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
    <!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
    <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"-->
    <!--integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"-->
    <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"-->
    <!--integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"-->
    <!--crossorigin="anonymous"></script>-->
</head>
<html>
<body>

<div layout:fragment="content">

    <!--<div style="margin: auto" class="text-center">-->
        <!--<h1>-->
            <!--List of all Books-->
        <!--</h1>-->
    <!--</div>-->
    <!--[[${books}]]-->

    <!--<a href="/?lang=en"><img style="width: 30px" src="/static/images/egn.png" alt="English Flag"></a>-->
    <!--<a href="/?lang=km"><img style="width: 30px" src="/static/images/kh.png" alt="Cambodia Flag"></a>-->
    <!--<a href="/?lang=th"><img style="width: 30px" src="/static/images/thai.png" alt="Thai Flag"></a>-->
    <!--<hr>-->
    <!--<a href="/create">-->
        <!--<button type="button" class="btn btn-success">Create</button>-->
    <!--</a>-->
    <hr>
    <table class="table">

        <tr>
            <th th:text="#{table.id}">ID</th>
            <th th:text="#{table.title}">Title</th>
            <th th:text="#{table.author}">Author</th>
            <th th:text="#{table.publisher}">Publisher</th>
            <th th:text="#{table.thumbnail}">Thumbnail</th>
            <th th:text="#{table.category}">Category</th>
            <th th:text="#{table.action}">Action</th>
        </tr>

        <tr th:each="book:${books}">
            <td>[[${book.id}]]</td>
            <td>[[${book.title}]]</td>
            <td>[[${book.author}]]</td>
            <td>[[${book.publisher}]]</td>
            <!--<td th:text="${book.thumbnail}></td>-->
            <td>
                <img style="width: 100px;height: 100px" th:src="${book.getThumbnail()}" alt="img">

            </td>
            <td>[[${book.category.name}]]</td>
            <td>
                <a th:href="@{/view/{id}(id=${book.id})}">
                    <button type="button" class="btn btn-primary">View</button>
                </a>
                <a th:href="@{/update/{id}(id=${book.id})}">
                    <button type="button" class="btn btn-warning">Update</button>
                </a>
                <button type="button" class="delete-btn btn btn-danger" th:attr="data-id=${book.id}">Delete</button>
            </td>
        </tr>
    </table>

    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.delete-btn', function () {
                var data_id = $(this).attr("data-id");
                if (confirm("Do you want to delete?")) {
                    window.location = "http://localhost:8080/remove/" + data_id;
                }

            });
        });
    </script>
</div>
</body>
</html>