<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="book/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>List of Book</title>

</head>
<html>
<body>

<div layout:fragment="content">

    <hr>
    <table class="table">

        <tr>
            <th th:text="#{table.id}">ID</th>
            <th th:text="#{table.title}">Title</th>
            <th th:text="#{table.author}">Author</th>
            <th th:text="#{table.publisher}">Publisher</th>
            <th th:text="#{table.thumbnail}">Thumbnail</th>
            <th th:text="#{table.category}">Category</th>
            <th th:text="#{table.action}">Action</th>
        </tr>

        <tr th:each="book:${books}">
            <td>[[${book.id}]]</td>
            <td>[[${book.title}]]</td>
            <td>[[${book.author}]]</td>
            <td>[[${book.publisher}]]</td>

            <!--<td th:text="${book.thumbnail}></td>-->
            <td>
                <img style="width: 100px;height: 100px" th:src="${book.getThumbnail()}" alt="img">

            </td>
            <td>[[${book.category.name}]]</td>
            <td>
                <a th:href="@{/view/{id}(id=${book.id})}">
                    <button type="button" class="btn btn-primary">View</button>
                </a>
                <a th:href="@{/update/{id}(id=${book.id})}">
                    <button type="button" class="btn btn-warning">Update</button>
                </a>
                <button type="button" class="delete-btn btn btn-danger" th:attr="data-id=${book.id}">Delete</button>
            </td>
        </tr>
    </table>

    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.delete-btn', function () {
                var data_id = $(this).attr("data-id");
                if (confirm("Do you want to delete?")) {
                    window.location = "http://localhost:8080/remove/" + data_id;
                }

            });
        });
    </script>
</div>
</body>
</html>