<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="book/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Create Category</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Create Category</h1>
    <div class="container">
        <div class="jumbotron">
            <form action="/catecreate/submit" method="post" th:object="${category}" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" th:field="*{name}" class="form-control"  placeholder="Enter Category Name" name="pwd">
                </div>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</div>
</body>
</html>